/user/user-service/src/main/resources/application-local.yml
/ai/src/main/resources/application-local.yml
/app/app-service/src/main/resources/application-local.yml
/common/src/main/resources/application-local.yml
/screenshot/screenshot-app/src/main/resources/application-local.yml
/logs/
/tmp/
