spring:
  application:
    name: dango-ai-code-user
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 5MB
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://rm-cn-sn34m8htv0001kxo.rwlb.rds.aliyuncs.com:3306/dango_ai_code_mother
    username: dango
    password: A20203331040a
server:
  port: 8123
  servlet:
    context-path: /api
sa-token:
  token-name: Authorization
  timeout: 604800
  active-timeout: 7200
  is-concurrent: true
  is-share: false
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.dango.dangoaicodeuser.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
# Actuator 监控配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
